.titulo {
    color: blue;
    text-align: center;
}

.conteudo {
    text-align: center;
}

.img {
    max-width: 100%;
    height: auto;
    border-width: 4px;
    border-style: solid;
    border-color: darkgray;
    margin-right: 50px;
}