body {
    background-color: #40404a;
}

h1 {
    font-size: 25px;
    font-family: Arial ;
    color: #d7f2a3;
}

p {
    font-size: 15px;
    color: white;
    font-family: Arial;
}

span {
    color: #d7f2a3;
}

.fonte {
    font-family: Arial black;
    font-size: 12px;
}
a {
    color: #d7f2a3;
}