body {
    height: 100vh;  
    background-image: 
        url(../img/overlay.png),
        linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    font-family: "Source Sans Pro";
    margin-left: 226.172px;
    margin-right: 226.172px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    line-height: 1.65;
}

#first.main.special {
    border-top: 0.1px solid #636363;
    border-bottom: 1px solid #636363;
}

span.logo {
    margin-bottom: 34vh;
}

.logo img {
    margin: 0px 569.5px;
    padding: 0px;
}

.link:hover {
    color: #FFFFFF;
    border-bottom: none;
}

#nav li {
    margin: 0px 7.93333px;
    list-style: none;
    flex-direction: row;
}

#nav a:hover {
    background-color: #f3f2f2;
}

.spotlight {
    color: #636363;
    font: 22.6667px "Source Sans Pro";
    margin-bottom: 45.3333px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

li {
    list-style: none;
}

a.button {
    border: 1px solid black;
    text-decoration: none;
    color: #636363;
}

.actions ul li {
    padding: 0px 0px 0px 22.6667;
}
