/* CORPO */
html {
    font-size: 11pt;
}
body {
    height: 100vh;  
    background-image: 
        url(../img/overlay.png),
        linear-gradient(45deg, #e37562 15%, #5f4d93 85%);
    font-family: "Source Sans Pro";
    margin-left: 22vh;
    margin-right: 22vh;
    height: 100%;
    background-repeat: no-repeat;
    line-height: 1.65;
}
#main {
    background-color: #FFFFFF;
}
/* Medida REM com 16px */


/* Não sei o que é */
.actions ul li {
    padding: 0px 0px 0px 22.6667px;
    padding: 0rem 0rem 0rem 1.417rem;
}
.actions li {
    padding: 0px 0px 0px 22.6667px;
    padding: 0rem 0rem 0rem 1.417rem;
}
.button {
    padding: 0px 28px;
    padding: 0rem 1.75rem;
}
.link:hover {
    border: none;
    color: #FFFFFF;
}


/* Formatação "universal" */
    /* Adicionando a linha colorida depois dos h1 */
    header.major h2::after {
        display: block;
        content: '';
        width: 52px;
        width: 3.25em;
        height: 3px;
        height: 0.188rem;
        margin-top: 11.2px;
        margin-top: 0.7em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2px;
        border-radius: 0.125rem;
        background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    }
    /* Removendo a fortamação de lista */
    li {
        list-style: none;
    }
    /* Cria a divisão de página */
    #first.main.special {
        border-top: 0.1px solid #636363;
        border-top: 0.006rem solid #636363;
        border-bottom: 1px solid #636363;
        border-bottom: 0.063rem solid #636363;
    }
    #cta.main.special {
        border-top: 1px solid #636363;
        border-top: 0.063rem solid #636363;
    }  
    /* H2 */
    h2 {
        margin: 0px;
        margin: 0rem;
        margin-bottom: 26.1333px;
        margin-bottom: 1.633rem;
        color: #636363;
        font: 37.3333px "Source Sans Pro", sans-serif;
        font: 2.333rem "Source Sans Pro", sans-serif;
        text-align: center;
    }
    /* P */
    p {
        color: #636363;
        font: 23.3333px "Source Sans Pro", sans-serif;
        font-size: 1.458rem;
        margin: 0px px 46.6667px;
        margin: 0rem 0rem 2.917rem;
    }
    /* links */
    .link {
        color: #FFFFFFA6;
        text-decoration: none;
        border-bottom: 1px dotted;
    }
    /* Botão */
    a.button {
        font-size: 18.6667px;
        border: 1px solid black;
        text-decoration: none;
        color: #636363;
        padding: 10px 40px;
        border-radius: 10px;
    }


/* Parte da logo/cabeçalho */
span.logo {
    margin-bottom: 28vh;
    margin: 0px 0px 28px;
}
.logo img {
    padding: 0px;
    margin: 0px 461.513px 0px 461.5px;
}
#header.alt {
    padding: 130.667px 0px 74.6667px;
    text-align: center;
}
#header h1 {
    color: #FFFFFF;
    font: 60.6667px "Source Sans Pro", sans-serif;
    margin-top: 0px;
    margin-bottom: 15.1667px;
}
#header p {
    color: #FFFFFFA6;
    font: 23.3333px "Source Sans Pro", sans-serif;
    margin-top: 0px;
    margin-bottom: 46.6667px;
}



/* Nav */
#nav {
    background-color: #F7F7F7;
    border-radius: 5px 5px 0px 0px;
    border: 5px solid #F7F7F7;
    color: #636363;
    font: 18.6667px "Source Sans Pro", sans-serif;
    padding: 18.6667px;
}
#nav ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
#nav a {
    text-decoration: none;
    color: #636363;
    font: 18.6667px "Source Sans Pro", sans-serif;
    padding: 0px 23.3333px;
}
#nav a:hover {
    background-color: #f2f2f2;
}


/* Introdução */
#intro.main {
    color: #636363;
    font: 18.6667px "Source Sans Pro", sans-serif;
    padding: 93.333px 93.333px 56px;
}
#intro .spotlight {
    margin: 0px 0px 37.3333px;
    color: #636363;
    font: 18.6667px "Source Sans Pro", sans-serif;
    display: flex;
}
#intro .image {
    margin: 0px 0px 0px 14.667px;
    padding: 12.1333px;
}
#intro .image img {
    border: 1px solid #636363;
    border-radius: 50%;
}
#intro .content h2 {
    text-align: left;
}
#intro .content p {
    color: #636363;
    font: 18.6667px "Source Sans Pro", sans-serif;
    margin: 0px 0px 37.3333px;
}
#intro h2::after {
    display: block;
    content: '';
    width: 3.25em;
    height: 3px;
    margin: 0.7em 0 1em 0;
    border-radius: 2px;
    background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}
#intro div img {
    display: inline-block;
    margin: 0px;
    padding: 14.7333px;
}
#intro .actions li, ul{
  padding: 0px;
}


/* Primeira seção */
#first.main.special {
    color: #636363;
    font: 18.6667px "Source Sans Pro", sans-serif;
    padding: 93.333px 93.333px 56px;
}
#first .features {
    padding: 0px;
    color: #636363;
    font: 18.6667px "Source Sans Pro", sans-serif;
    margin: 0px 0px 56px -37.3333px;
    display: flex;
}
#first .features li {
    text-align: center;
    color: #636363;
    font: 22.6667px "Source Sans Pro", sans-serif;
    margin: 0px 0px 0px 45.3333px;
}
#first .features h3 {
    color: #636363;
    font: 23.3333px "Source Sans Pro", sans-serif;
    margin: 0px 0px 16.3333px;
}
#first .features p {
    margin: 0px;
    color: #636363;
    font: 18.6667px "Source Sans Pro", sans-serif;
}
#first .icon.solid.major.style1.fa-code {
    margin: 0px 0px 37.3333px;
    padding: 60px 50px 60px;
    font-size: 90px;
    color: #efa8b0;
    border: 1px solid #636363;
    border-radius: 50%;  
}
#first .icon.major.style3.fa-copy {
    color: #A89CC8;
    margin: 0px 0px 37.3333px;
    padding: 60px 65px;
    font-size: 90px;  
    border: 1px solid #636363;
    border-radius: 50%;  
}
#first .icon.major.style5.fa-gem {
    color: #8CC9F0;
    margin: 0px 0px 37.3333px;
    padding: 60px;
    font-size: 90px;  
    border: 1px solid #636363;
    border-radius: 50%;  
}


/* Segunda seção */
#second.main.special {
    margin: 0px;
    color: #636363;
    font: 18.6667px "Source Sans Pro", sans-serif;
    padding: 93.333px 93.333px 56px;
}
#second.main.special p {
    margin: 0px 0px 46.6667px;
    font-size: 23.3333px;
    display: block;
    text-align: center;
}
#second.main.special .content {
    font-size: 18.6667px;
    display: block;
    margin: 0px 0px 37.3333px;
}
#second ul.statistics {
    display: flex;
    color: #636363;
    margin: 0px 0px 56px;
}
#second strong {
    display: block;
    margin: 10px 33px 20px;
    color: #FFFFFF;
    font: 37.3333px "Source Sans Pro", sans-serif;
}
#second li:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
}
#second li:nth-child(5) {
    border-radius: 0px 10px 10px 0px;
}
#second li.style1 {
    color: #FFFFFF;
    text-align: center;
    background-color: #EFA8B0;
    padding: 28px;
}
#second li.style2 {
    color: #FFFFFF;
    text-align: center;
    background-color: #C79CC8;
    padding: 28px;
}
#second li.style3 {
    color: #FFFFFF;
    text-align: center;
    background-color: #A89CC8;
    padding: 28px;
}
#second li.style4 {
    color: #FFFFFF;
    text-align: center;
    background-color: #9BB2E1;
    padding: 28px;
}
#second li.style5 {
    color: #FFFFFF;
    text-align: center;
    background-color: #8CC9F0;
    padding: 28px;
}
#second .icon.solid.fa-code-branch, .icon.fa-folder-open, .icon.solid.fa-signal, .icon.solid.fa-laptop, .icon.fa-gem {
    font-size: 40px;
}


/* Seção final */
#cta.main.special {
    padding: 93.3333px 93.3333px 56px;
    font: 18.6667px "Source Sans Pro", sans-serif;
}
#cta.main.special h2 {
    font-size: 37.3333px;
    margin: 0px 0px 26.1333px; 
}
#cta.main.special p {
    font-size: 23.3333px;
    text-align: center;
    margin: 0px 0px 46.6667px;
}
ul.actions.special {
    display: flex;
    font-size: 18.6667px;
    margin: 0px 0px 37.3333px;
    justify-content: center;
}
a.button.primary {
    border: none;
    color: #FFFFFF;
    font-size: 18.6667px;
    background-color: #8CC9F0;
}


/* Rodapé */
#footer {
    display: flex;
    color: #FFFFFFA6;
    font: 18.6667px "Source Sans Pro", sans-serif;
    margin: 0px 0px 56px -37.333px;
    padding: 93.333px 93.333px 56px;    
}
#footer h2 {
    color: #FFFFFF;
    font: 28px "Source Sans Pro", sans-serif;
    margin: 0px 0px 19.6px;
}
#footer p {
    margin: 0px 0px 37.3333px;
    font-size: 18.6667px;
    color: #FFFFFFA6;
}
#footer ul.actions {
    margin: 0px 0px 37.3333px -18.6667px;
}
#footer li {
    padding: 0px 0px 0px 18.6667px;
}
#footer .button {
    color: #FFFFFF;
    border-color: #FFFFFF;
}
#footer section {
    color: #FFFFFFA6;
    font: 18.6667px "Source Sans Pro", sans-serif;
    margin: 0px 0px 0px 37.3333px;
}
#footer section h2 {
    color: #FFFFFF;
    margin: 0px 0px 19.6px;
}
#footer dt {
    color: #FFFFFF;
}
#footer .alt {
    color: #FFFFFFA6;
    margin: 0px 0px 37.333px;
}
#footer dd {
    color: #FFFFFFA6;
    margin: 0px 0px 15.8667px 102.667px;
}
#footer a {
    color: #FFFFFFA6;
    text-decoration: none;
    border-bottom: 1px dotted;
}
#footer .icons {
    display: flex;
}
#footer li {
    padding: 0px 12.1333px 0px 0px;
}
.icon.brands.fa-twitter.alt, .icon.brands.fa.fa-facebook.alt, .icon.brands.fa-instagram.alt, .icon.brands.fa-github.alt, .icon.brands.fa-dribbble.alt {
    border: 1px solid #FFFFFF;
    padding: 20px;
    scale: 20px;
    border-radius: 50%;
}