caption {
    background-color: rgb(47, 248, 148);
    font-size: 24px;
}
caption, table, th, td {
    border: 2px groove white;
}

thead {
    background-color: rgb(201, 201, 201);
}

.valor {
    text-align: right;
}

.tempo {
    text-align: center;
}