h1 {
    text-align: center;
    margin-bottom: 50px;
}
div {
    text-align: center;
    background-color: lightgray;
    padding: 20px;
    transition-property: transform;
}
p {
    text-align: left;
}