h1 {
    text-align: center;
    margin-bottom: 50px;
}

ul {
    justify-content: center;
    list-style: none;
    display: flex;
    background-color: lightgray;
}

p {
    background-color: gray;
    padding: 20px;
}